// Каталог шаблонов
.catalog {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 16px;
  }

  &__template {
    margin-bottom: 33px;
  }

  @supports (display: grid) {
    &__list {
      display: grid;
      grid-template-columns: 360px 360px;
      gap: 33px 40px;
      margin-bottom: 49px;
    }

    &__template {
      margin-bottom: 0;
    }
  }
}
