.page {
  // Базовые стили для всего сайта
  min-width: 1200px;
  margin: 0;
  font: 16px/24px "Roboto", "Arial", sans-serif;
  color: $text-color;
  background-color: #ffffff;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &__header {
    margin-bottom: 55px;
  }

  &__slider {
    margin-bottom: 80px;
  }

  &__services {
    margin: {
      top: 40px;
      bottom: 40px;
    }
  }

  &__about {
    margin-top: 40px;
  }

  &__works {
    margin-bottom: 80px;
  }

  &__sorting {
    margin-bottom: 51px;
  }

  &__catalog {
    margin-top: 40px;
  }

  &__pagination {
    margin-top: 10px;
  }

  &__footer {
    margin-top: 60px;
  }
}
