// Сортировка товаров
.sorting {
  $gray: #a6a6a6;

  display: flex;

  &__title {
    margin: {
      top: -3px;
      right: auto;
    }
    padding-right: 20px;
  }

  &__type {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 280px;
    margin-right: 39px;
  }

  &__button {
    max-width: 120px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
    opacity: 0.3;

    &:not(:last-child) {
      margin-right: 26px;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active,
    &--active {
      opacity: 1;
    }
  }

  &__order {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: 41px;
  }

  &__arrow {
    width: 0;
    height: 0;
    color: transparentize($gray, 0.8);
    border: 0 solid currentColor {
      width: 10px 5.5px;
    }

    &:hover,
    &:focus {
      color: $gray;
      outline: none;
    }

    &:active,
    &--active {
      color: #231f20;
    }

    @each $order in up, down {
      &--#{$order} {
        border: {
          @if $order == up {
            top: none;
          } @else {
            bottom: none;
          }
          right-color: transparent;
          left-color: transparent;
        }
      }
    }
  }
}
