// Карточка шаблона
.template {
  $dark-gray: #4d4d4d;

  position: relative;
  width: 360px;
  min-height: 576px;
  padding-top: 40px;
  background-color: transparentize($dark-gray, 0.88);
  border-radius: 4px 4px 0 0;

  &:hover,
  &:focus-within {
    background-color: $dark-gray;
    box-shadow: 0 6px 15px transparentize($shadow-color, 0.75);

    .template {
      &__image {
        outline-color: transparentize($dark-gray, 0.88);
      }

      &__info {
        opacity: 1;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 14px;
    height: 14px;
    color: #ffffff;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow:
      23px 0 currentColor,
      46px 0 currentColor;
  }

  &__image {
    display: block;
    outline: 1px solid #e5e5e5;
    outline-offset: -1px;
  }

  &__info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 506px;
    padding: 27px 60px 43px;
    overflow: auto;
    line-height: 18px;
    text-align: center;
    background-color: $light-gray;
    opacity: 0;
  }

  &__title {
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: $red;
        outline: none;
      }

      &:active {
        color: transparentize(#000000, 0.7);
      }
    }
  }

  p {
    margin: 0;
    color: $gray;
  }

  &__button {
    margin-top: 30px;
  }
}
