// Блок портфолио
.works {
  @extend .services;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 260px;
    min-height: 180px;
    opacity: 0.2;

    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }

    img {
      display: block;
    }
  }

  @supports (display: grid) {
    &__list {
      display: grid;
      grid-template-columns: 260px 260px 260px 260px;
      gap: 10px 40px;
    }
  }
}
