@mixin font-face($family, $file-name, $weight: normal, $style: normal) {
  $font-name: $family;
  $font-name-second: str-insert($family, "-Regular", 100);

  @if $weight == 500 {
    $font-name: str-insert($family, " Medium", 100);
    $font-name-second: str-insert($family, "-Medium", 100);
  } @else if $weight == bold or $weight == 700 {
    $font-name: str-insert($family, " Bold", 100);
    $font-name-second: str-insert($family, "-Bold", 100);
  }

  @font-face {
    font: {
      family: $family;
      style: $style;
      weight: $weight;
      display: swap;
    }
    src: local($font-name),
         local($font-name-second),
         url("../fonts/#{$file-name}.woff2") format("woff2"),
         url("../fonts/#{$file-name}.woff") format("woff");
  }
}
