// Блок колонок
.columns {
  display: flex;
  justify-content: space-between;

  &__column {
    width: 760px;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 260px 760px;
    gap: 140px;
  }
}
